.MuiFormControlLabel-root {
  color: #9d9d9d;
}

.MuiFormGroup-root {
  display: block!important;
}

.alert-success{
  background: #139533cf;
  padding: 10px;
  color: #fff;
}

.alert-info{
  background: #f50057a6;
  padding: 10px;
  color: #fff;
}

.container-note {
  background: #ddd;
  color: #606060;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.container-payment {
  max-width: 990px;
  margin: 20px auto 80px;
}

.container-error {
  background: #c6c6c6;
  color: #5f5f5f;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  margin: 30px auto;
}

.txt-term {
  color: #757575;
  font-size: 12px;
  line-height: 22px;
}

.txt-error-personalizate {
  color: #f44336;
  font-size: .75rem;
  margin-top: 3px;
  text-align: left;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: .03333em;
}

.banner-paymen {
  background-image: url("./assets/media/banner_forms.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
  display: block;

}

.img-logo {
  background-image: url("./assets/media/logo-creatives.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 90px;
  display: block;
}

.txt-alert-account{
  text-align: center;
  margin-top: 60px;
  color: #666;
}

.btn-alert-shop-virtual{
  background: #e20c3b;
  padding: 10px;
  margin: 60px;
  color: #fff;
  text-decoration: none;
  display: block;
  width: 150px;
  border-radius: 4px;
  margin: auto;
}

.btn-alert-shop-virtual:hover {
  background:#1a2e6d;
}

@media only screen and (max-width: 790px) {
  .banner-paymen {
    background-size: contain;
    width: 100%;
    height: 200px;
    display: block;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 460px) {
  .banner-paymen {
    height: 150px;
  }

  .img-logo {
    width: 180px;
    height: 70px;
  }
}
